@import "./vars";

.contact {
  height: 357px;
  margin: 0 auto;
  position: fixed;
  width: 272px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;

  &-btn {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;

    &_close {
      height: 14px;
      width: 14px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 28px 0 14px 16px;
  }

  &-p {
    color: #5c5c5c;
    font-weight: 500;
    margin: 0 16px 18px 16px;
    font-size: 12px;
    line-height: 1.2;
  }

  &-form {
    margin: 0 0 0 16px;
    font-size: 10px;
  }

  &-name {
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    height: 35px;
    margin: 8px 0 14px 0;
    padding: 0 12px;
    width: 240px;
    font-size: 12px;
    line-height: 1.2;
  }

  &-email {
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    height: 35px;
    margin: 8px 0 24px 0;
    padding: 0 12px;
    width: 240px;
    font-size: 12px;
    line-height: 1.2;
  }

  &-btn_send {
    background-color: $basic;
    border-radius: 8px;
    border: none;
    color: $text2;
    cursor: pointer;
    font-weight: 600;
    height: 37px;
    margin: 0 16px 0 16px;
    width: 240px;
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.4;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    width: 481px;
    height: 511px;

    &-btn {
      width: 24px;
      height: 24px;
      right: 16px;
    }

    &-title {
      font-size: 32px;
      margin: 48px 32px 24px 32px;
    }

    &-p {
      margin: 0 32px 32px 32px;
      font-size: 16px;
    }

    &-form {
      margin: 0 0 0 32px;
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-size: 14px;
      height: 49px;
      margin: 8px 32px 24px 0;
      padding: 0 16px;
      width: 416px;
    }

    &-email {
      font-size: 14px;
      height: 49px;
      margin: 8px 32px 38px 0;
      padding: 0 16px;
      width: 416px;
    }

    &-btn_send {
      width: 416px;
      height: 50px;
      margin: 0 32px 0 32px;
    }
  }
}
